[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json
[submodule "3rdparty/Catch2"]
	path = 3rdparty/Catch2
	url = https://github.com/catchorg/Catch2
	branch = v2.x
[submodule "3rdparty/cpp-driver"]
	path = 3rdparty/cpp-driver
	url = https://github.com/datastax/cpp-driver
[submodule "3rdparty/socket.cpp"]
	path = 3rdparty/socket.cpp
	url = https://github.com/samehkamaleldin/socket.cpp
